doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.leftNav
      ul
        li 
          a(href="/") Home
        li 
          a(href="/shop/critters") Critters
        li 
          a(href="/shop/supplies") Supplies
        li 
          a(href="/shop/categories") Categories
    div
      block content
